@tailwind base;
@tailwind components;
@tailwind utilities;


.TRIANGLE{
  transform: translateY(-60px) rotate(16deg) translateX(-50px);
}

.ANIMATION-PULSE{
  animation: pulse 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes pulse {
  100%{transform: scale(110%); opacity: 75%; filter: drop-shadow(1px 1px 100px white);}
}

.ANIMATION-FORM{
  animation: form-appear 1s linear forwards;
  animation-iteration-count: 1;
}

@keyframes form-appear {
  0%{transform: translateY(100px); opacity: 50%}
  100%{transform: translateY(0px); opacity: 100%;}
}

.BACKGROUND-ANIMATION{
  background-image: url('/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  animation: movementBackground 10s infinite linear;
}

@keyframes movementBackground {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.WIDTH{
  width: calc(100% - 25rem);
}
